.staff-order-container {
  padding: 10px 40px;
  height: 90vh;
  margin-right: 3rem;
  margin-left: 3rem;
  background-color: #fbede1;
  overflow: auto;
}

.staff-order-container .table {
  border-collapse: collapse;
}

.staff-order-container thead {
  border-radius: 8px !important;
  text-align: center;
  color: white !important;
}

.staff-order-container tr th {
  background-color: #1a9cb7 !important;
}

.staff-order-container thead tr th {
  color: white;
}

.staff-order-container tbody tr {
  border-bottom: 1px solid gray;
}

.staff-order-container tbody tr td {
  padding: 10px;
}

table.staff-order-table th {
  border: none;
  border-collapse: collapse;
}

th.staff-order-table-th,
thead.staff-order-table-th {
  border: none;
}

.staff-order-content-table,
.staff-order {
  height: 55vh !important;
  overflow: auto !important;
}


.staff-order-content-table table {
  height: 100%;
}

.staff-order-detail {
  background-color: white;
  height: 90vh;
  overflow: auto ;
  border-radius: 10px;
}

.staff-order-detail-title {
  color: #ff8a00;
}